.botones{
    margin-left: auto;
    border-color: #BC0D72
    ;
}

.botones{
    background-color: white;

}
#logo_bnc{
    width: 20%;
}

#btn_inicio{
    background-color: rgb(56, 111, 152);
    color: white;
    width: 20%;
    border-radius: 5px;
    height: 20%;
    font-family: century Gothic;
    padding: 1%;
}

#btn_ingresar{
    background-color: rgb(56, 111, 152);
    color: white;
    width: 20%;
    height: 10%;
    border-radius: 5px;
    font-family: century Gothic;
    padding: 1%;
}

#btn_registrar{
    background-color: rgb(288, 100, 20);
    color: white;
    width: 20%;
    border-radius: 5px;
    height: 10%;
    font-family: century Gothic;
    padding: 1%;
}

#ImgenPrincipal{
    width: 100%;
    height: 100%;
    padding: 1%;
}

#btn_enviar{
    background-color: rgb(56, 111, 152);
    color: white;
    width: 20%;
    height: 20%;
    border-radius: 5px;
    font-family: century Gothic;
    padding: 1%;
}
#formulario-registro{
    margin: 5%;
    width: 60%;
    color: rgb(56, 111, 152);
    font-size: large;
    border-color: rgb(288, 100, 20);
    font-weight: bold;
    font-family: century Gothic;
}
/*funciones*/
/*error*/
.error{
color:red;
}

#kakita{
    text-shadow:0.1em 0.1em 0.05em #BC0D72 ;
    color:blue;
}